.subcribe-button{
  background-color: rgb(201, 0, 0);
  border: none;
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 3px;
}
.like-button{
  background-color: white;
  color: blue;
  border-color: blue;
  height: 30px;
  width: 64px;
  border-radius: 3px;
  font-size: 15px;
  border-width: 1.5px;
  cursor: pointer;
}
.tweet-button{
  background-color: blue;
  border: none;
  color: white;
  height: 30px;
  width: 70px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 3px;
  font-size: small;
}
.request-button{
  background-color: black;
  color: white;
  height: 30px;
  width: 104px;
  cursor: pointer;
}
.add-button{
  background-color: rgb(255, 216, 20);
  border: none;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 150px;
  border-radius: 15px;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
}
.sign-button{
  background-color: rgb(46,164,79);
  color: white;
  border: none;
  height: 29px;
  width: 80px;
  border-radius: 3px;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
}
.get-button{
  background-color: rgb(121, 82, 179);
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.download-button{
  background-color: white;
  color: rgb(108, 117, 125);
  height: 30px;
  width: 80px;
  border-color: rgb(108, 117, 125);
  border-width: 1.5px;
  border-radius: 3px;
  cursor: pointer;
}
.apply-button{
  background-color: rgb(10, 102, 194);
  color: white;
  font-weight: bold;
  border: none;
  height: 30px;
  width: 210px;
  border-radius: 16px;
  margin-top: 4px;
  cursor: pointer;
}
.save-button{
  background-color: white;
  color: blue;
  height: 30px;
  width: 60px;
  border-color: blue;
  border-radius: 16px;
  border-width: 1.5px;
  font-weight: bold;
  cursor: pointer;
}
.nike{
  font-weight: bolder;
}
.price{
  color: rgb(0,118,0);
  font-weight: bold;
}
.buy{
  background-color: rgb(255,164,28);
  border: none;
  height: 28px;
  width: 104px;
  border-radius: 16px;
}
